.nav {
  position: relative;
  height: 80px;
  margin: 4px;
  background: $navBackgroudColor;
  #nav-toggle span {
    position: absolute;
    left: 0;
    top: 50%;
  }

  #nav-toggle span,
  #nav-toggle span:before,
  #nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: #000;
    position: absolute;
    display: block;
    content: '';
  }
  #nav-toggle span:before {
    top: -10px;
  }
  #nav-toggle span:after {
    bottom: -10px;
  }
  .nav-items {
    display: none;
  }

  .logo {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 0;
    right: 0;
  }
}
