.nav {
  position: relative;
  height: 128px;
  margin: -23px;
  background: $navBackgroudColor;
  box-shadow: 0 8px 10px #e7e5e5;
  #nav-toggle span {
    position: absolute;
    left: 20px;
    top: 50px;
  }

  #nav-toggle span,
  #nav-toggle span:before,
  #nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 4px;
    width: 32px;
    background: #000;
    position: absolute;
    display: block;
    content: '';
  }
  #nav-toggle span:before {
    top: -10px;
  }
  #nav-toggle span:after {
    bottom: -10px;
  }
  .nav-items {
    display: none;
  }

  .logo {
    width: 96px;
    height: 96px;
    position: absolute;
    top: 17px;
    right: 22px;
  }
}
