.nav {
  position: relative;
  height: 128px;
  margin: -23px;
  background: $navBackgroudColor;
  box-shadow: 0 8px 10px #e7e5e5;
  #nav-toggle span {
    position: absolute;
    left: 20px;
    top: 50px;
  }

  #nav-toggle span,
  #nav-toggle span:before,
  #nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 2px;
    width: 32px;
    background: #545454;
    position: absolute;
    display: block;
    content: '';
  }
  #nav-toggle span:before {
    top: -10px;
  }
  #nav-toggle span:after {
    bottom: -10px;
  }
  .nav-items {
    display: none;
  }

  .logo {
    width: 96px;
    height: 96px;
    position: absolute;
    top: 17px;
    right: 22px;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .nav {
    height: 84px;
    margin: -23px;

    #nav-toggle span {
      left: 20px;
      top: 45px;
    }

    #nav-toggle span,
    #nav-toggle span:before,
    #nav-toggle span:after {
      height: 2px;
      width: 32px;
    }

    #nav-toggle span:before {
      top: -10px;
    }

    #nav-toggle span:after {
      bottom: -10px;
    }

    .logo {
      width: 64px;
      height: 64px;
      top: 12px;
      right: 23px;
    }
  }
}
