@import 'node_modules/reset-css/sass/reset';
@import './styles/fonts';

* {
  box-sizing: border-box;
}
body {
  color: #ff5404;
  line-height: 30.8px;
}
h1,
h2 {
  font-family: 'Nunito-Bold', sans-serif;
  font-size: 20px;
  margin: 20px 0;
}
a {
  color: #ff5404;
  text-decoration: none;
}
p {
  text-align: justify;
  text-justify: auto;
}
.super {
  vertical-align: baseline;
  position: relative;
  top: -0.3em;
  font-size: 0.8em;
}
.bo-layout--container {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

.bo-layout {
  margin: 60px;
}

.bo-layout--section {
  border-bottom: #ff5404 solid 2px;
  position: relative;
}
.bo-layout--section img.logo {
  width: 180px;
}
.bo-layout--section--language-selector {
  position: absolute;
  top: 0;
}
.bo-layout--section--language-selector.ltr {
  right: 0;
}
.bo-layout--section--language-selector select {
  padding: 10px 20px;
  width: auto;
  font-size: 16px;
  color: #ff5404;
  border-radius: 0;
  border: solid 1px #ff5404;
  background-color: white;
  cursor: pointer;
  margin-bottom: 5px;

  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

@media (min-width: 1023px) {
  .bo-layout {
    margin: 70px;
    margin-top: 60px;
  }
  bo-layout--section {
    margin-bottom: 20px;
  }
  p {
    padding-bottom: 20px;
  }
  .bo-layout--logo-holder {
    margin-bottom: 10px;
  }
}

@media (max-width: 1023px) and (min-width: 480px) {
  .bo-layout {
    margin: 40px;
  }
  .bo-layout--section {
    margin-bottom: 18px;
  }
  p {
    padding-bottom: 18px;
  }
  .bo-layout--logo-holder {
    margin-bottom: 10px;
  }
}

@media (max-width: 480px) {
  .bo-layout {
    margin: 23px;
  }
  .bo-layout--section {
    margin-bottom: 16px;
  }
  p {
    padding-bottom: 16px;
  }
  .bo-layout--logo-holder {
    margin-bottom: 10px;
  }
}
